[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
psycopg2 = "*"
djangorestframework = "*"

[requires]
python_version = "3.7"
