{% extends "bookshelf/base.html" %}

{% block content %}
  <h1>Author List</h1>
  {% if auth_list %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Author First Name</th>
      <th scope="col">Last Name</th>
    </tr>
  </thead>
    {% for auth in auth_list %}
<tr>
        <td><strong class="text-primary">{{ auth.first_name }}</strong></td>
        <td> {{auth.last_name}}</td>
</tr>
    {% endfor %}
</table>  {% else %}
    <p>There are no Authors Added</p>
  {% endif %}       
{% endblock %}