{% extends "bookshelf/base.html" %}

{% block content %}
  <h1>Book List</h1>
  <strong>Search Books:</strong>
  <form action="{% url 'bsearch' %}" method="get">
  <input class="form-control" name="q" type="text" placeholder="Type Book Title...">
</form>
<hr>
  {% if book_list %}
  <table class="table is-hoverable">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Book Title</th>
      <th scope="col">Book Author</th>
      <th scope="col">Book Code</th>
    </tr>
  </thead>
    {% for book in book_list %}
        <tr>
        <td><b class="text-primary">{{ book.title }} </b></td>
        <td>{{book.author}} </td>
        <td> {{book.Code}}</td>
        </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}       
{% endblock %}