<html>
    <head>
        <title>Library Admin</title>
    </head>
    <body>
        <h1 align="center" >Welcome to the Library Administration Portal</h1>
        <h3 align="center" >Shelf Admin</h3>
        <div>
            <h3>Books</h3>
              {{ book }}
            </div>
            
            
            
        <div>
            <h3>Users</h3>
        </div>
        <div>
            <h3>Barcodes </h3>
            {{bar_code}}
        </div>
        <div>
            <h3>Logs</h3>
        </div>
    </body>
</html>