
<!-- <html>
    <head>
       
        <title>Library Admin</title>
        <style>
                table, th, td {
                  border: 1px solid black;
                  border-collapse: collapse;
                }
                th, td {
                  padding: 15px;
                  text-align: left;
                }
                table#t01 {
                  width: 100%;    
                  background-color: #f1f1c1;
                }
                </style>
    </head> -->
    <!-- <body> -->
{% extends "base.html" %}


       <!--  <h1 align="center" >Welcome to the Library Administration Portal</h1>
        <h3 align="center" >Shelf Admin</h3>
        <table id=#t01>
        <tr>
            <td> <strong>Books &nbsp;&nbsp;</strong> </td>
            <td> {{ book }}</td>
        </tr>
        <tr>
            <td><strong>Books on Loan &nbsp;&nbsp;</strong></td>
            <td>{{ book_onloan }}</td>
        </tr>
        <tr>
            <td><strong>Users</strong></td>
            <td>{{ num_users }}</td>
        </tr>
        <tr>
            <td><strong>Books Available</strong></td>
            <td>{{ book_av }}</td>
        </tr>
    </table> -->
    {% block content %}
    <h1>Local Library Home</h1>
    <p>Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network</em>!</p>
    <h2>Dynamic content</h2>
    <p>The library has the following record counts:</p>
    <ul>
      <li><strong>Books:</strong> {{ num_books }}</li>
      <li><strong>Copies:</strong> {{ num_instances }}</li>
      <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
      <li><strong>Authors:</strong> {{ num_authors }}</li>
    </ul>
{% endblock %}
   <!--  </body>
</html> -->