{% extends "bookshelf/base.html" %}

{% block content %}
  <h3 class="display-4">User List</h3>
  <hr>
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Borrower's Name</th>
      <th scope="col">Book Title</th>
      <th scope="col">Book Code</th>
    </tr>
  </thead>
    {% for lg in object_list %}
      <tr>
        <td class="text-danger">{{ lg.Name }}</td>
        <td> <i class="text-success">{{ lg.Department }}</i> </td>
        <td><small class="text-primary">{{ lg.Semester }}</small></td>
      </tr>
    {% empty %}
     <p>Not Rendered yet</p>   
    {% endfor %}
  </table>
     
{% endblock %}